@mixin font($size, $line-height) {
  font-size: $size;
  line-height: $line-height;
}

@mixin forum {
  font-family: "Forum", "Times New Roman", sans-serif;
}

@mixin eb-garamond {
  font-family: "EB Garamond", "Times New Roman", sans-serif;
}

@mixin hover {
  outline: none;
  cursor: pointer;

  transition: 0.3s;
}

@mixin not-hover {
  &:not(:hover) {
    transition: 0.3s;
  }
}
